.container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: auto;
  background-color: black;
}

.nodes-container {
  flex: 3;

  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;

  padding: 10px;
  background-color: lightblue;
}

.node {
  margin: 10px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: orange;

  border-width: 4px;
  border-color: orange;
  border-style: solid;
}
.node.is-over {
  border-color: black;
}

.message-pool-container {
  flex: 2;

  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;

  padding: 10px;
  background-color: cyan;
}

.message {
  margin: 10px;
  height: 100px;
  width: 100px;
  background-color: tomato;
}

.message.is-dragging {
  opacity: 0.0;
}

.message-text {
  font-size: 12px;
}

.message-proposal-number {
  font-size: 12px;
}
