* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  background-color: black;

  border: 2px solid black;

  .node-messages-container {
    display: flex;
    flex-direction: row;

    height: 160px;

    .node-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      background-color: lightblue;

      .node-component {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 4px;
        height: 150px;
        width: 400px;

        border-radius: 50% / 50%;
        -moz-border-radius: 50% / 50%;
        -webkit-border-radius: 50% / 50%;

        background-color: lightgrey;

        border: 4px solid lightgrey;

        &.is-over {
          border-color: black;
        }

        .node-label {
          margin-bottom: 4px;
        }

        .roles-container {
          display: flex;
          flex-direction: row;
          background-color: white;

          height: 96px;
          width: 280px;

          $role-padding: 4px;
          $role-margin: 1px;

          .proposer-component {
            flex: 1;
            padding: $role-padding;
            background-color: pink;
            margin: $role-margin;
          }

          .receiver-learner-container {
            flex: 1;
            display: flex;
            flex-direction: column;

            .receiver-component {
              flex: 1;
              padding: $role-padding;
              background-color: lightgreen;
              margin: $role-margin;
            }

            .learner-component {
              flex: 1;
              padding: $role-padding;
              background-color: yellow;
              margin: $role-margin;
            }
          }
        }
      }
    }

    .messages-outer-container {
      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      background-color: lightgreen;

      border: 1px solid black;

      .messages-label {
        margin-left: 10px;
      }

      .messages-inner-container {
        flex: 1;

        display: flex;
        flex-direction: row;

        .message-container {
          margin: 10px;
          padding: 4px;
          height: 100px;
          width: 140px;
          background-color: tomato;

          &.is-dragging {
            opacity: 0.0;
          }

          .message-text {
            font-size: 14px;
          }
        }
      }
    }
  }
}
