@import './nodeStyles';
@import './messageStyles';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// This makes the scrollbar always visible.
* {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  background-color: black;

  border: 2px solid black;

  .node-messages-container {
    display: flex;
    flex-direction: row;

    height: 160px;
  }
}
