* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  margin: auto;
  background-color: black;

  .nodes-container {
    flex: 3;

    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;

    padding: 10px;
    background-color: cyan;

    .node-component {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin: 4px;
      height: 150px;
      width: 400px;

      border-radius: 50% / 50%;
      -moz-border-radius: 50% / 50%;
      -webkit-border-radius: 50% / 50%;

      background-color: lightgrey;

      border-width: 4px;
      border-color: lightgrey;
      border-style: solid;

      &.is-over {
        border-color: black;
      }

      .node-label {
        margin-bottom: 4px;
      }

      .roles-container {
        display: flex;
        flex-direction: row;
        background-color: white;

        height: 96px;
        width: 280px;

        $role-padding: 4px;
        $role-margin: 1px;

        .proposer-component {
          flex: 1;
          padding: $role-padding;
          background-color: pink;
          margin: $role-margin;
        }

        .receiver-learner-container {
          flex: 1;
          display: flex;
          flex-direction: column;

          .receiver-component {
            flex: 1;
            padding: $role-padding;
            background-color: lightgreen;
            margin: $role-margin;
          }

          .learner-component {
            flex: 1;
            padding: $role-padding;
            background-color: yellow;
            margin: $role-margin;
          }
        }
      }
    }
  }

  .message-pool-container {
    flex: 2;

    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;

    padding: 10px;
    background-color: lightblue;

    .message {
      margin: 10px;
      height: 100px;
      width: 100px;
      background-color: tomato;

      &.is-dragging {
        opacity: 0.0;
      }

      .message-text {
        font-size: 12px;
      }
    }
  }
}
