@import './buttonUtils';

.app-container {
.node-messages-container {

.node-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: lightblue;

  .node-component {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 4px;
    height: 150px;
    width: 400px;

    border-radius: 50% / 50%;
    -moz-border-radius: 50% / 50%;
    -webkit-border-radius: 50% / 50%;

    background-color: lightgrey;

    border: 4px solid lightgrey;

    .node-label {
      margin-bottom: 4px;
    }

    .roles-container {
      display: flex;
      flex-direction: row;
      background-color: white;

      height: 96px;
      width: 280px;

      margin-bottom: 4px;

      $role-padding: 4px;
      $role-margin: 1px;

      .proposer-component {
        flex: 1;
        padding: $role-padding;
        background-color: pink;
        margin: $role-margin;
      }

      .receiver-learner-container {
        flex: 1;
        display: flex;
        flex-direction: column;

        .receiver-component {
          flex: 1;
          padding: $role-padding;
          background-color: lightgreen;
          margin: $role-margin;
        }

        .learner-component {
          flex: 1;
          padding: $role-padding;
          background-color: yellow;
          margin: $role-margin;
        }
      }
    }
  }

  .initiate-paxos-button {
    @extend %button-base;
    @include button-colors(
      rgb(0, 200, 0),
      rgb(0, 150, 0),
      rgb(0, 100, 0)
    );
    font-size: 14px;
  }
}

}}
